<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.category"
            name="Transform Category">
      </category>
      <command
            categoryId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.category"
            name="Transform Command"
            id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.transformCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.handlers.MainHandler"
            commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.transformCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.transformCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.sampleCommand"
                  id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.toolbars.sampleToolbar">
            <command
                  id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.toolbars.transformCommand"
                  commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.commands.transformCommand"
                  icon="icons/sample.png"
                  tooltip="Transform PCM context model instance 2 XACML policy set file">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.handlers.PreferencesHandler"
            id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.xacmlpolicygeneration.prefPage"
            name="Preferences of PCM-2-XACML transformation">
      </page>
   </extension>

</plugin>
